.App {
  padding: 30px;
}

.App-title {
  font-size: 20px;
  font-weight: bold;
}

.App-button {
  display: inline-block;
  font-size: 12px;
  padding: 10px 20px;
  border: solid 1px #000;
  margin: 20px 0 0;
  cursor: pointer;
}
